@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* "Polyglot" Language Switcher
/* ----------------------------------------------------------------------
Version: 2.3
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* TABLE OF CONTENTS
/* ----------------------------------------------------------------------
-Generic
-JS-created Code
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
.lang{
	padding:5px;
	font-weight: bold;
	border: 1px solid #5bbb2d;
	border-radius: 2px;
	background-color: #5bbb2d;
	border-radius: 7px;
	font-weight: bold;
	color: white;
	font-size: 13px;
	cursor: pointer;
}

#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0;
	outline: none;
}

#polyglotLanguageSwitcher ul {
	list-style: none;
}

#polyglotLanguageSwitcher {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #444;
	line-height: normal;
	position: relative; /* sets the initial position for the drop-down menu */
	z-index: 1000000;

}

#polyglotLanguageSwitcher form {
	display: none;
}

/* ---------------------------------------------------------------------- */
/* JS-created Code
/* ---------------------------------------------------------------------- */
#polyglotLanguageSwitcher a {
	text-decoration: none;
	display: block;
	padding: 7px 0 10px 30px; /* 6px 6px 6px 28px */
	color: #444;
	width: 140px; /* 84px; total width: 120px */
	background-repeat: no-repeat;
	background-position: 20px center;
}

#polyglotLanguageSwitcher a:hover {
	/*color: #000;*/

}

#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited, #polyglotLanguageSwitcher a.current:active {
	position: absolute; /* sets the initial position for the trigger arrow */
	background-color: #5bbc2e;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	height: 2.25em; /* 15px */
}

#polyglotLanguageSwitcher a.current:hover,
#polyglotLanguageSwitcher ul.dropdown li:hover {
	/*background-color: #F7F7F7;*/
}

#polyglotLanguageSwitcher a.active { /* This style is applied as long as the drop-down menu is visible. */
	border-bottom: none !important;
	border-radius: 3px 3px 0 0 !important;
}

#polyglotLanguageSwitcher span.trigger {
	display: block;
	position: absolute;
	width: 9px;
	height: 5px;
	text-indent: -10000em;
	top: 0;
	bottom: 0;
	right: 6px;
	margin: auto;
}

#polyglotLanguageSwitcher a.current:link span.trigger, #polyglotLanguageSwitcher a.current:visited span.trigger {
	background: url(../images/arrow-down.gif) no-repeat left top;
}

#polyglotLanguageSwitcher a.current:hover span.trigger, #polyglotLanguageSwitcher a.current:active span.trigger, #polyglotLanguageSwitcher a.active span.trigger {
	background-position: left bottom !important;
}

/* Drop-Down Menu */

#polyglotLanguageSwitcher ul.dropdown {
	display: none;
	position: absolute;
	top: 2.333em; /* 28px */
	left: 0;
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-top: none !important;
	border-radius: 0 0 3px 3px;
	z-index: 10000000000;
}

#polyglotLanguageSwitcher ul.dropdown li {
	border-top: 1px dashed #5bbc2e;
}

#polyglotLanguageSwitcher ul.dropdown li:last-child {
	border-radius: 0 0 3px 3px;
}
